@using Jobbie.Web.Models;

@model ProfessionDisciplineEditViewModel
@{
    ViewData["Title"] = "Edit Profession";
}
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h2>Profession</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="row">
            <div class="col">
                <div class="form-group">
                    @Html.LabelFor(model => model.ProfessionId, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.ProfessionId, Model.Professions, Jobbie.Web.Constants.Constants.EmptySelectOptionText, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProfessionId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    @Html.LabelFor(model => model.DisciplineId, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.DisciplineId, Model.Disciplines, Jobbie.Web.Constants.Constants.EmptySelectOptionText, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DisciplineId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a class="btn btn-primary" asp-area="Admin" asp-controller="Contractors" asp-action="Index">Cancel</a>
                </div>
            </div>
        </div>
    </div>
}