@using Jobbie.Web.Models;

@model AccountEditViewModel

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h2>Account</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.AddressId)
        @Html.HiddenFor(model => model.BankAccountId)
        @Html.HiddenFor(model => model.ContractorId)
        @Html.HiddenFor(model => model.SolicitorId)
        <div class="row">
            <div class="col">
                <div class="card mb-5">
                    <div class="card-header">
                        Personal Info
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SocialSecurityNumber, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.SocialSecurityNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SocialSecurityNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AboutMe, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextAreaFor(model => model.AboutMe, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AboutMe, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mb-5">
            <div class="card-header">
                Work info
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            @Html.LabelFor(model => model.HoursAvailablePerWeek, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.HoursAvailablePerWeek, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.HoursAvailablePerWeek, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CurrentWorkload, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CurrentWorkload, new { htmlAttributes = new { @class = "form-control", @disabled="disabled" } })
                            @Html.ValidationMessageFor(model => model.CurrentWorkload, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            @Html.CheckBoxFor(model => model.IsVerified, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.LabelFor(model => model.IsVerified, htmlAttributes: new { @class = "control-label" })
                            @Html.ValidationMessageFor(model => model.IsVerified, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mb-5">
                    <div class="card-header">
                        Address
                    </div>
                    @Html.HiddenFor(model => model.Address.Id)
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Address.Address1, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Address.Address1, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Address.Address1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Address.Address2, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Address.Address2, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Address.Address2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Address.City, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Address.City, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Address.City, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Address.StateId, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.Address.StateId, Model.Address.States, Jobbie.Web.Constants.Constants.EmptySelectOptionText, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Address.StateId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Address.ZipCode, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Address.ZipCode, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Address.ZipCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Address.Country, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Address.Country, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Address.Country, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-5">
                    <div class="card-header">
                        Bank Account
                    </div>
                    @Html.HiddenFor(model => model.BankAccount.Id)
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.BankAccount.BankName, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.BankAccount.BankName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BankAccount.BankName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.BankAccount.AccountType, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.BankAccount.AccountType, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BankAccount.AccountType, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.BankAccount.RoutingNumber, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.BankAccount.RoutingNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BankAccount.RoutingNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.BankAccount.AccountNumber, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.BankAccount.AccountNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BankAccount.AccountNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    @Html.CheckBoxFor(model => model.BankAccount.IsVerified, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.LabelFor(model => model.BankAccount.IsVerified, htmlAttributes: new { @class = "control-label" })
                                    @Html.ValidationMessageFor(model => model.BankAccount.IsVerified, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Contractor Info
                    </div>
                    <div class="card-body">
                        @Html.HiddenFor(model => model.Contractor.Id)
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Contractor.ProfessionDisciplineId, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.Contractor.ProfessionDisciplineId, Model.Contractor.ProfessionDisciplines, Jobbie.Web.Constants.Constants.EmptySelectOptionText, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Contractor.ProfessionDisciplineId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Company Info
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyTypeId, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.CompanyTypeId, Model.CompanyTypes, Jobbie.Web.Constants.Constants.EmptySelectOptionText, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CompanyTypeId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    @Html.CheckBoxFor(model => model.IsSolicitor, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.LabelFor(model => model.IsSolicitor, htmlAttributes: new { @class = "control-label" })
                                    @Html.ValidationMessageFor(model => model.IsSolicitor, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a class="btn btn-primary" href="/Buyers">Cancel</a>
                </div>
            </div>
        </div>
    </div>
}